
/**
 * @file
 * Text-level component styles : DropCap.
 */

.c-dropcap {
  font-family: serif;
  font-size: 4.9rem;
  float: left;
  line-height: 1;
  margin-right: 0.05em;
}

.c-dropcap:before,
.c-dropcap:after {
  content: "";
  display: block;
}
.c-dropcap:before {
  margin-bottom: -0.038em;
}
.c-dropcap:after {
  margin-top: -0.05em;
}
