
/**
 * Background-related utilities.
 */

:root {
	--bg-primary: $color-1;
}

.bg-primary {
	background: var(--bg-primary);
}

.u-bg-white {
	background: white;
	color: var(--text-color-inverse);
}

.u-bg-grey-t-1 {
	background: $color-grey-t-1;
}
.u-bg-black-t-4 {
	background: $color-black-t-4;
}
