
/**
 * Quick fixes.
 *
 * 1. Mobile : admin menu must stay on top of main menu decoration.
 * 2. Keep admin menu z-index in check.
 *
 * @see http://csswizardry.com/2013/04/shame-css
 */

.slicknav_menu {
	position: relative; /* 1 */
	z-index: 5; /* 1 */
}

#admin-menu,
#admin-menu .dropdown {
	z-index: var(--z-index-menu); /* 2 */
}


/*	Mysterious inline style disabling .icon-facebook : unknown origin.
	Failed to override.
	@todo find origin (local browser add-on / ad-blocker ?)
*/

/*[class^="icon-"],
[class*=" icon-"] {
	display: inline-block !important;
	visibility: visible !important;
}*/


/*	Hacks vertical alignment.

	1. Exception for .o-grid--vgutter-s-until-tablet>.o-grid__item
*/

.c-menu-main__lang-links {
	padding-top: 2px;
}

@media(--mobile) {
	.c-menu-main__prepended-item {
	margin-bottom: 0 !important; /* 1. */
	}
}

@media(--tablet) {
	.c-menu-main__prepended-item {
	margin-right: .33em;
	}
}

@media(--wide) {
	.c-menu-main__prepended-item {
	padding-top: .33em;
	}
}


/*	Test.
*/

/*@media(--desktop) {
	._curved-0 {
	margin: 0 auto 0 3%;
	}
	._curved-1 {
	margin: 0 auto 0 2%;
	}
	._curved-2 {
	margin: 0 auto 0 4%;
	}
	._curved-3 {
	margin: 0 auto 0 6%;
	}
}*/
