
.c-media-grid__img,
.c-media-grid__body {
	max-width: 30rem;
}

	.c-media-grid.w-lte-43rem > .c-media-grid__img,
	.c-media-grid.w-lte-43rem > .c-media-grid__body {
		margin-left: auto;
		margin-right: auto;
	}

	.c-media-grid.w-lte-43rem > .c-media-grid__img,
	.c-media-grid.w-lte-43rem > .c-media-grid__body {
		margin-top: 1rem;
	}

.c-media-grid.w-gt-43rem {
	display: grid;
	gap: 1rem;
	grid-template-columns: auto 33% 33% auto;
	grid-template-rows: auto;
}

	.c-media-grid.w-gt-43rem > * {
		grid-row: var(--row);
	}

	.c-media-grid.w-gt-43rem > .c-media-grid__img {
		grid-column: 2;
		justify-self: end;
	}
	.c-media-grid.w-gt-43rem > .c-media-grid__img.is-odd {
		grid-column: 3;
		justify-self: start;
	}

	.c-media-grid.w-gt-43rem > .c-media-grid__body {
		grid-column: 3;
		justify-self: start;
	}
	.c-media-grid.w-gt-43rem > .c-media-grid__body.is-odd {
		grid-column: 2;
		justify-self: end;
	}
