
/**
 * Document root : fundamental styles
 *
 * @require settings/typography.vars.css
 * @require settings/colors.vars.scss
 */

/* First, a brutal global reset for all margins and paddings.
*/
* {
	margin: 0;
	padding: 0;
}

:root {
	--html-bg-color: $color-1;
	--text-color: white;
	--text-color-inverse: $color-grey-4;
}

@viewport {
	width: device-width;
}


/*	Bug : why is :root needed in the selector here ?
	(tested without : breaks most base styles - can't find where / why for now)

	1. See https://github.com/seaneking/postcss-responsive-type/

	2. Prevent horizontal scrollbars.
*/
:root,
html {
	background: var(--html-bg-color);
	font-family: var(--font-family);
	font-weight: var(--font-weight);
	line-height: var(--line-height);
	color: var(--text-color);
	text-rendering: optimizeLegibility;
	font-size: responsive; /* 1 */
	min-font-size: 13px; /* 1 */
	max-font-size: 18px; /* 1 */
	lower-font-range: 328px; /* 1 */
	upper-font-range: 1400px; /* 1 */
	overflow-x: hidden; /* 2 */
}


/*	FOIT prevention.
*/

.fontA-is-loaded {
	font-family: var(--font-family-loaded);
}
