
/**
 * Scaling FX utilities.
 *
 * Modifier naming convention :
 * suffix "--ahf" means : animated on :hover and :focus.
 */

:root {
	--fx-scaling-speed: .1s;
	--fx-scaling-ratio: 1.01;
}

.fx-scale-up--ahf {
	will-change: transform;
	transition: transform var(--fx-scaling-speed) ease-in-out;
	transform: scale(1, 1);
}

.fx-scale-up--ahf:hover,
.fx-scale-up--ahf:focus {
	transform: scale(var(--fx-scaling-ratio), var(--fx-scaling-ratio));
}
