
/**
 * Shadows FX utilities extension : animation.
 *
 * Based on Google's Material Design Light.
 * See https://github.com/google/material-design-lite
 *
 * Optimization based on @tobiasahlin's technique.
 * See http://tobiasahlin.com/blog/how-to-animate-box-shadow/
 *
 * Modifier naming convention :
 * suffix "--ahf" means : animated on :hover and :focus.
 */

:root {
	--fx-shadow-anim-speed: 0.3s;
}

.fx-focus-shadow--ahf {
	position: relative;
}

.fx-focus-shadow--ahf::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	will-change: opacity;
	transition: opacity var(--fx-shadow-anim-speed) ease-in-out;
	@extend %fx-focus-shadow;
}
.fx-focus-shadow--ahf:hover::after,
.fx-focus-shadow--ahf:focus::after {
	opacity: 1;
}
