
/**
 * Card component.
 *
 * 1. We have no reliable way to be sure of the depth of applicability.
 */

.c-card {
	@extend %bg-content;
	padding: var(--padding-ratio-em);
}
	.c-card__img {
	@extend %fx-shadow-2dp;
	margin-bottom: var(--margin-ratio-em);
	}
	.c-card__img img { /* 1 */
		display: block;
	}
