
/**
 * @file
 * Accessibility-related generic utilities.
 *
 * Convention : utility classes must be prefixed with "u-".
 *
 * Based on Bootstrap's .sr-only and .sr-only-focusable classes.
 */

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user.
 */
.u-sr-only {
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
}

/**
 * Extends .u-sr-only to allow the element to be focusable when navigated to via
 * the keyboard.
 */
.u-sr-only.u-sr-only--focusable:active,
.u-sr-only.u-sr-only--focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto;
}
