
/**
 * Toggleable "tog" component.
 *
 * Complements the 'toggler' jQuery plugin.
 * @see sites/all/themes/chouette/vendor/Paulmicha/toggler.u-ptog
 */

.u-tog,
.u-tog.is-on {
  display: block;
}

.u-tog.is-off {
  display: none;
}


/* Parent toggleable variant : hide when parent or ancestor is 'off' or 'on'.
*/

.is-off > .u-ptog,
.is-off .u-ptog--deep,
.is-off > .u-ptog-hide-off,
.is-off .u-ptog-hide-off--deep {
  display: none !important;
}
.is-on > .u-ptog-hide-on,
.is-on .u-ptog-hide-on--deep {
  display: none !important;
}
