<!doctype html>
<html lang="pt-br" class="no-js">
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Chouette - Institut de Français</title>
		<meta name="description" content="Escola de língua francesa em Porto Alegre para ensinar e trocar conhecimentos e experiências em torno da cultura francófona.">

		
		<meta name="robots" content="noindex">

		<link rel="canonical" href="https://chouette.net.br">

		<meta property="og:title" content="Chouette - Institut de Français">
		<meta property="og:type" content="website">
		<meta property="og:url" content="http://chouette.net.br">
		<meta property="og:image" content="/img/chouette-og-image.png">

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#004281">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&amp;family=Raleway:ital,wght@0,100..900;1,100..900&amp;display=swap">

		<link rel="stylesheet" href="/main.css">
		<link rel="stylesheet" href="/bundle/d_DnhnTyQP.css">
	</head>

	<body id="page-top">
		<div id="page-content"><page-header title="Chouette - Institut de Français"><header>
	<nav-dropdown class="MainNav-wrap">


	<nav aria-labelledby="pages-heading" class="MainNav js-dropdown">
		<h2 id="pages-heading" class="visually-hidden">Pages navigation</h2>
		<button aria-label="Toggle menu" aria-expanded="false" class="MainNav-toggle">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 185.343 185.343" space="preserve">
				<path d="M51.707 185.343a10.692 10.692 0 0 1-7.593-3.149 10.724 10.724 0 0 1 0-15.175l74.352-74.347L44.114 18.32c-4.194-4.194-4.194-10.987 0-15.175 4.194-4.194 10.987-4.194 15.18 0l81.934 81.934c4.194 4.194 4.194 10.987 0 15.175l-81.934 81.939a10.678 10.678 0 0 1-7.587 3.15z"></path>
			</svg>
		</button>
		<div aria-hidden="true" class="MainNav-items s-invert">
			<ul>
				<li>
					<a href="/sobre-a-escola/">Sobre a escola</a>
				</li>
<li>
					<a href="/modalidades-de-cursos/">Modalidades dos cursos</a>
				</li>
<li>
					<a href="/metodologia-chouette/">Metodologia Chouette</a>
				</li>
<li>
					<a href="/chouettes-pelo-mundo/">Chouettes pelo mundo</a>
				</li>
			</ul>
		</div>
	</nav>



</nav-dropdown>
	<main-menu class="tight">
	<block>
	
		<ul class="Menu">
			<li>
				<span aria-hidden="hidden" class="Menu-deco"></span>
				<a href="/sobre-a-escola/">Sobre</a>
			</li>
<li>
				<span aria-hidden="hidden" class="Menu-deco"></span>
				<a href="/modalidades-de-cursos/">Cursos</a>
			</li>
<li>
				<span aria-hidden="hidden" class="Menu-deco"></span>
				<a href="/metodologia-chouette/">Metodologia</a>
			</li>
<li>
				<span aria-hidden="hidden" class="Menu-deco"></span>
				<a href="/chouettes-pelo-mundo/">Depoimentos</a>
			</li>
		</ul>
	



</block>



</main-menu>
	<div class="PageHeader-wrap s-invert">
		<block class="l">
	
			<div class="PageHeader">
				<div class="PageHeader-logo">
					<block class="s ib">
	
						<a href="/" title="Voltar na pagina inicial" class="PageHeader-logo-link">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 136.777 150.571" preserveAspectRatio="xMidYMid meet">
								<path fill="#D71921" d="M118.432 74.325c2.708 7.432 4.208 15.437 4.285 23.779 8.252-11.095 13.379-24.649 14.051-39.373a38.668 38.668 0 0 1-18.336 15.594zm-14.726-7.274 3.331-8.183h-6.661z"></path>
								<path fill="#004281" d="M104.082 15.583c-13.247 0-25.07-6.072-32.85-15.583v36.822c3.395-5.048 9.158-8.37 15.701-8.37 7.529 0 14.031 4.398 17.072 10.767 3.043-6.369 9.541-10.767 17.068-10.767 6.545 0 12.308 3.322 15.703 8.37V.187c-7.779 9.403-19.538 15.396-32.694 15.396zm-.193 61.607c-13.899 0-26.068-7.366-32.847-18.401C60.816 92.501 33.947 118.972 0 128.66a71.254 71.254 0 0 0 30.58 9.186 93.504 93.504 0 0 1-11.928 4.155 64.253 64.253 0 0 0 31.625 8.568c35.664.282 64.803-28.397 65.089-64.062a64.775 64.775 0 0 0-.831-10.818 38.444 38.444 0 0 1-10.646 1.501z"></path>
								<circle fill="#004281" cx="86.757" cy="47.362" r="5.042"></circle>
								<circle fill="#004281" cx="121.037" cy="47.362" r="5.042"></circle>
							</svg>
						</a>
					



</block>
				</div>
				<h1 class="PageHeader-title"></h1>
			</div>
		



</block>
	</div>
</header>


</page-header>
<main class="Page">*{box-sizing:border-box}:root{--line-height:clamp(1.3125rem,1.269rem + 0.2174vi,1.4375rem);--sans-serif:BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;--size-5:clamp(2.9549rem,2.5231rem + 2.1588vi,4.1962rem);--size-4:clamp(2.4624rem,2.1513rem + 1.5557vi,3.3569rem);--size-3:clamp(2.052rem,1.8316rem + 1.1018vi,2.6855rem);--size-2:clamp(1.71rem,1.5575rem + 0.7625vi,2.1484rem);--size-1:clamp(1.425rem,1.3228rem + 0.5109vi,1.7188rem);--size-0:clamp(1.1875rem,1.1223rem + 0.3261vi,1.375rem);--size--1:clamp(0.9896rem,0.9512rem + 0.192vi,1.1rem);--size--2:clamp(0.8247rem,0.8054rem + 0.0963vi,0.88rem);--size--3:clamp(0.6872rem,0.6814rem + 0.0292vi,0.704rem);--space-2xs:clamp(0.5625rem,0.519rem + 0.2174vi,0.6875rem);--space-xs:clamp(0.875rem,0.8098rem + 0.3261vi,1.0625rem);--space-s:clamp(1.125rem,1.038rem + 0.4348vi,1.375rem);--space-m:clamp(1.6875rem,1.5571rem + 0.6522vi,2.0625rem);--space-l:clamp(2.25rem,2.0761rem + 0.8696vi,2.75rem);--space-xl:clamp(3.375rem,3.1141rem + 1.3043vi,4.125rem);--space-2xs-xs:clamp(0.5625rem,0.3886rem + 0.8696vi,1.0625rem);--space-xs-s:clamp(0.875rem,0.7011rem + 0.8696vi,1.375rem);--space-s-m:clamp(1.125rem,0.7989rem + 1.6304vi,2.0625rem);--space-m-l:clamp(1.6875rem,1.3179rem + 1.8478vi,2.75rem);--space-l-xl:clamp(2.25rem,1.5978rem + 3.2609vi,4.125rem);--line-length:36rem;--max-length:calc(var(--line-length)*2 + var(--space-m));--z-index-offcanvas:16;--z-index-overlay:8;--z-index-menu:4;--z-index-over:2;--z-index-std:1;--color-1:#004281;--color-2:#f25921;--color-3:#d71920;--color-4:#0084ff;--color-5:#ffb969;--color-6:#1cb841;--color-7:#ca3c3c;--color-8:#0078e7;--color-grey-1:#151515;--color-grey-2:#ddd;--color-grey-3:#292929;--color-grey-4:#1c1c1c;--color-grey-5:#717171;--color-grey-t-1:rgba(28,28,28,.88);--color-grey-t-2:rgba(41,41,41,.88);--color-grey-t-3:rgba(75,75,75,.88);--color-black-t-1:rgba(0,0,0,.5);--color-black-t-2:rgba(0,0,0,.8);--color-black-t-3:rgba(0,0,0,.05);--color-black-t-4:rgba(0,0,0,.2);--color-white-t-1:hsla(0,0%,100%,.5);--color-white-t-2:hsla(0,0%,100%,.1);--color-white-t-3:hsla(0,0%,100%,.9);--blue:var(--color-1);--orange:var(--color-2);--red:var(--color-3);--blue-light:var(--color-4);--yellow:var(--color-5);--green:var(--color-6);--grey-dark:var(--color-grey-1);--base-bg-color:var(--blue);--base-text-color:#fff;--inverted-bg-color:#fff;--inverted-text-color:var(--grey-dark);--overlay-white-bg-color:var(--color-white-t-3)}html{background-color:var(--base-bg-color);color:var(--base-text-color);font-family:"Quattrocento Sans",var(--sans-serif,sans-serif);font-size:var(--size-0);font-weight:400;line-height:clamp(1.3125rem,1.269rem + .2174vi,1.4375rem);position:relative;scroll-behavior:smooth}body,html{margin:0;padding:0}audio,canvas,iframe,img,svg,video{vertical-align:middle}.visually-hidden{border:0;clip:rect(0,0,0,0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;white-space:nowrap;width:1px}img,svg,video{height:auto;max-width:100%}h1,h2,h3,h4{font-family:Raleway,sans-serif;line-height:1.1}h1{font-size:var(--size-4);font-weight:200}h2{font-feature-settings:"c2sc";font-variant:small-caps;font-weight:400;letter-spacing:.05em}a{border-bottom:1px solid;color:inherit;text-decoration:none;transition:color .3s}a:focus,a:hover{color:var(--orange)}hr{background-image:linear-gradient(90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.75),hsla(0,0%,100%,0));border:0;height:1px}.s-rich-text ol,.s-rich-text ul,blockquote,h1,h2,h3,h4,hr,p,pre{margin:0 0 var(--size-0) 0}.s-rich-text ol:last-child,.s-rich-text ul:last-child,blockquote:last-child,p:last-child,pre:last-child{margin-bottom:0}::-moz-selection{background-color:var(--inverted-bg-color);color:var(--inverted-text-color);text-shadow:none}::selection{background-color:var(--inverted-bg-color);color:var(--inverted-text-color);text-shadow:none}.u-container{padding-left:var(--space-m);padding-right:var(--space-m)}.u-container-inner{margin:0 auto;max-width:var(--line-length)}.u-container-inner>.s-rich-text:first-child{padding-top:var(--space-m)}.u-vspacer{padding-bottom:var(--space-m)}.u-vspacer+.u-vspacer{padding-top:var(--space-m)}.u-vspacer+.u-vspacer .u-container-inner>:first-child{margin-top:0}.u-vspacer+.u-vspacer .u-container-inner>.s-rich-text:first-child{padding-top:0}.s-invert{background-color:var(--inverted-bg-color)}.s-invert,.s-invert *{color:var(--inverted-text-color)}.s-invert h2,.s-invert h3,.s-invert h4{color:var(--blue)}.s-invert ::-moz-selection{background-color:var(--base-bg-color);color:var(--base-text-color)}.s-invert ::selection{background-color:var(--base-bg-color);color:var(--base-text-color)}.s-rich-text>p,.s-rich-text>pre{margin-left:auto;margin-right:auto;max-width:var(--line-length)}.Logo{margin:0 auto}.s-rich-text ol,.s-rich-text ul{padding:0 0 0 var(--size-0)}.s-rich-text li+li{margin-top:.2rem}.EmojiList.EmojiList.EmojiList{list-style:none;padding-left:var(--size-2)}.EmojiList>li{position:relative}.EmojiList>li:before{content:attr(data-emoji);left:calc(var(--size-2)*-1);position:absolute;top:.05em}blockquote{border-left:.1rem solid #fff;padding-left:var(--size-0)}.s-invert blockquote{border-color:var(--blue)}#page{position:relative}</main>
<page-footer><hr>
<footer class="Footer u-container u-vspacer">
	<hug class="from-60rem">
	
		<chouette><div class="Chouette">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 136.777 150.571" preserveAspectRatio="xMidYMid meet">
		<path fill="#D71921" d="M118.432 74.325c2.708 7.432 4.208 15.437 4.285 23.779 8.252-11.095 13.379-24.649 14.051-39.373a38.668 38.668 0 0 1-18.336 15.594zm-14.726-7.274 3.331-8.183h-6.661z"></path>
		<path fill="#004281" d="M104.082 15.583c-13.247 0-25.07-6.072-32.85-15.583v36.822c3.395-5.048 9.158-8.37 15.701-8.37 7.529 0 14.031 4.398 17.072 10.767 3.043-6.369 9.541-10.767 17.068-10.767 6.545 0 12.308 3.322 15.703 8.37V.187c-7.779 9.403-19.538 15.396-32.694 15.396zm-.193 61.607c-13.899 0-26.068-7.366-32.847-18.401C60.816 92.501 33.947 118.972 0 128.66a71.254 71.254 0 0 0 30.58 9.186 93.504 93.504 0 0 1-11.928 4.155 64.253 64.253 0 0 0 31.625 8.568c35.664.282 64.803-28.397 65.089-64.062a64.775 64.775 0 0 0-.831-10.818 38.444 38.444 0 0 1-10.646 1.501z"></path>
		<circle fill="#004281" cx="86.757" cy="47.362" r="5.042"></circle>
		<circle fill="#004281" cx="121.037" cy="47.362" r="5.042"></circle>
	</svg>
</div>


</chouette>
		<div class="s-rich-text">
			<h2 class="Footer-title">
				Fale conosco
				<span class="Footer-smartphone-icon">
					<svg width="20" height="20" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" class="Footer-mobile-icon">
						<path d="M14.375 0h-8.75c-1.031 0-1.875 0.844-1.875 1.875v16.25c0 1.031 0.844 1.875 1.875 1.875h8.75c1.031 0 1.875-0.844 1.875-1.875v-16.25c0-1.031-0.844-1.875-1.875-1.875zM7.5 0.938h5v0.625h-5v-0.625zM10 18.75c-0.69 0-1.25-0.56-1.25-1.25s0.56-1.25 1.25-1.25 1.25 0.56 1.25 1.25-0.56 1.25-1.25 1.25zM15 15h-10v-12.5h10v12.5z"></path>
					</svg>
				</span>
			</h2>
			<div class="s-rich-text">
				<span class="u-thin">Telefone</span> : +55 51 98125 9389
				<br>
				<span class="u-thin">Email</span> :
				<a href="mailto:chouette@chouette.net.br" class="Email">chouette@chouette.net.br</a>
			</div>
			<a href="https://www.facebook.com/chouettepoa" target="_blank">facebook.com/chouettepoa</a>
			<br>
			<a href="https://www.instagram.com/chouette.frances" target="_blank">instagram.com/chouette.frances</a>
		</div>
	



</hug>
	<div class="Footer-separator">• •</div>
	<div class="Footer-smallPrint">
		Copyright © 2015–<span>2024</span><br>
		<span>Chouette - Institut de Français</span>
		<abbr title="Sociedade empresarial de responsabilidade limitada">LTDA</abbr>
	</div>
</footer>


</page-footer>
</div>
		<script type="module">// Accessible dropdown behavior based on :
	// @link https://www.a11y-collective.com/design/mastering-web-accessibility-making-drop-down-menus-user-friendly/
	const menuItems = document.querySelectorAll(".js-dropdown");

	let expandedItem = null;

	const expandSubMenu = (item) => {
		const subMenu = item.querySelector("ul");
		const button = item.querySelector("button");
		expandedItem = item;

		// Required to avoid initial animation glitch.
		if (!item.classList.contains('has-toggled')) {
			item.classList.add('has-toggled');
		}

		subMenu.setAttribute("aria-hidden","false");
		button.setAttribute("aria-expanded","true");
		item.dataset.expanded = "true";

		// Focus on the first link in the submenu, or the active link.
		subMenu.querySelectorAll("a")[0].focus();
	};

	const collapseSubMenu = (item) => {
		const subMenu = item.querySelector("ul");
		const button = item.querySelector("button");
		expandedItem = null;

		subMenu.setAttribute("aria-hidden","true");
		button.setAttribute("aria-expanded","false");
		item.dataset.expanded = "false";
		button.focus(); // Focus back on the button
	};

	menuItems.forEach((item) => {
		const button = item.querySelector("button");

		button.addEventListener("click", (event) => {
			if (button.getAttribute("aria-expanded") === "false") {
				expandSubMenu(item);
			} else {
				collapseSubMenu(item);
			}
		});

		// item.addEventListener("mouseenter", () => {
		// 	expandSubMenu(item);
		// });

		// item.addEventListener("mouseleave", () => {
		// 	collapseSubMenu(item);
		// });

		// Handling keyboard navigation
		button.addEventListener("keydown", (event) => {
			if (event.key === "Enter" || event.key === " ") { // Space or Enter key
				event.preventDefault(); // Prevent the default action to stop scrolling when pressing Space
				if (button.ariaExpanded === "false") {
					expandSubMenu(item);
				} else {
					collapseSubMenu(item);
				}
			}
		});

		// Handling tab key inside submenu to loop back to the button
		const subMenuLinks = item.querySelectorAll("ul a");
		if (subMenuLinks.length) {
			const lastLink = subMenuLinks[subMenuLinks.length - 1];
			lastLink.addEventListener("keydown", (event) => {
				if (event.key === "Tab" && !event.shiftKey) {
					event.preventDefault();
					button.focus(); // Move focus back to the button
				}
			});
		}
	});</script>
	


</body>
</html>