
/**
 * Subnav link component.
 */

.c-subnav-link {
	display: inline-block;
	border: 0 none;
	border-top: 3px solid transparent;
	border-bottom: 6px solid transparent;
	padding: var(--padding-ratio-s-rem) 0;
	color: $color-1;
	font-family: var(--font-familyB);
	font-weight: var(--font-weightB);
	text-transform: uppercase;
	letter-spacing: var(--letter-spacing);
	transition : border 250ms ease-in-out;
	will-change: border;
}
.fontB-is-loaded .c-subnav-link {
	font-family: var(--font-familyB-loaded);
}

.c-subnav-link:hover {
	border-top: 3px solid $color-1;
}

.c-subnav-link.active {
	border-bottom: 6px solid $color-1;
}
